:root {
    --red: rgb(216, 56, 56);
    --card-bg: rgb(213, 151, 135);
    --card-size: 128px;
    --gap-size: 16px;
}

html {
    height: 100%;   
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(229, 215, 190);
    font-family: 'Patua One', cursive;
}

h1 {
    margin-top: 0;
    font-size: 3em;
    color: var(--red);
    text-align: center;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, var(--card-size));
    grid-template-rows: repeat(3, var(--card-size));
    gap: var(--gap-size);
    justify-content: center;
    align-items: center;
}

.card {
    width: var(--card-size);
    height: var(--card-size);
    background-color: var(--card-bg);
    border-radius: 15px;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 30%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card img {
    opacity: 0;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
}

.card:hover img {
    opacity: 1;
}